@import url("https://pipe.miroware.io/5ddefa4c56a97834b15a15e3/mobile.css");

.heart {
    background-image: url(https://pipe.miroware.io/5ddefa4c56a97834b15a15e3/trollmcdonalds/mcdonalds.png) !important;
}

nav .heart{
  margin: 2px 6px 0 6px;
}

.fav.unlit {
	background-image: url("https://pipe.miroware.io/5ddefa4c56a97834b15a15e3/trollmcdonalds/grayheart.png");
}

.fav.lit {
	background-image: url("https://pipe.miroware.io/5ddefa4c56a97834b15a15e3/trollmcdonalds/heart.png");
}

img[src="/images/heart.png"] {
    background: url(https://pipe.miroware.io/5ddefa4c56a97834b15a15e3/trollmcdonalds/heart.png) no-repeat;
    width: 0px;
    height: 0px;
    padding: 8px;
}

img[src="/images/pages.png"] {
    background: url(https://pipe.miroware.io/5ddefa4c56a97834b15a15e3/trollmcdonalds/pages.png) no-repeat;
    width: 0px;
    height: 0px;
    padding: 8px;
}

img[src="/images/storyicon.png"] {
    width: 0px;
    height: 0px;
    padding: 8px;
}

body {
  background-color: #110f16;
  color: #ffffff;
}

#info .spoiler {
  background-color: #353535;
}

.spoiler {
  background-color: #0a090d;;
}

#info > span > .spoiler.open {
	background-color: #353535;
}
#info > span > .spoiler.closed {
	background-color: #1f1d21;
}


#dialog {
	border: 1px solid #1f1d21;
	background-color: #353535;
}

#dialog > div:nth-child(1) {
	background-color: #1f1d21;
}

.p1 header .um {
  width: 0;
  height: 0;
}

.p1 header .umcontainer {
	height: 100px;
}

.mspfalogo {
	border-right-color: #110f16;
    background-color: #110f16;
}

.p1 header{
	width: auto;
    height: auto;
}

.p1 header .mspfalogo {
  background-image: url("https://pipe.miroware.io/5ddefa4c56a97834b15a15e3/trollmcdonalds/troll%20mcdonalds.png");
	min-width: 400px;
    height: 100px;
    border-right: 0;
	background-color: transparent;
}

.p1 header .umcontainer {
    width: 400px;
    margin: auto;
}

nav {
	background-color: #110f16;
	margin: 3px 3px 3px 3px;
}

#main {
	background-color: #110f16;
}

#container {
    background-color: #1f1d21;
}

#slide {
    background-color: #353535;
    margin-bottom: 7px;
}

.footlinks a {
 color: #9952e9;
}


button, input.major[type="button"], input.major[type="submit"], input.major[type="reset"] {
	border-color: #48434d #1f1d21 #1f1d21 #48434d ;
	background-color: #353535;
}
button:enabled:active, input.major[type="button"]:enabled:active, input.major[type="submit"]:enabled:active, input.major[type="reset"]:enabled:active {
	border-color: #48434d #1f1d21 #1f1d21 #48434d ;
border-color: #1f1d21 #48434d #48434d #1f1d21 ;
}
button, input.major[type="button"], input.major[type="submit"], input.major[type="reset"] {
	background-color: #353535;
}
button:disabled, input.major[type="button"]:disabled, input.major[type="submit"]:disabled, input.major[type="reset"]:disabled {
	background-color: #cccccc;
}

#info > span > .spoiler > div:first-child > input, #latestpages > span > .spoiler > div:first-child > input[type="button"] {
    background-color: #353535!important;
    border: 1px solid #110f16!important;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 2px 2px 2px 2px;
    outline: none !important;
}

a:link {
    color: #9952e9;
}

a:visited {
    color: #9e9c16;
}

.rust{
  color: rgb(153, 0, 0);
}

.bronze{
  color: rgb(162, 82, 3);
}

.gold{
  color: rgb(161, 161, 0);
}

.iron{
  color: rgb(98, 98, 98);
}

.olive{
  color: rgb(65, 102, 0);
}

.teal{
  color: rgb(0, 130, 130);
}

.cobalt{
  color: rgb(0, 65, 130);
}

.indigo{
  color: rgb(0, 21, 130);
}

.purple{
  color: rgb(68, 10, 127);
}

.violet{
  color: rgb(106, 0, 106);
}

.fuchsia{
  color: rgb(153, 0, 77);
}

#txtSubmit {
	color: #ffffff;
	border: 4px rgb(103, 58, 183) solid;
	background-color: #000000;
	font-family: Courier;
	font-size: 20px;
	width: 75%;
	font-weight: bold;
	padding: 5px 10px;
	margin: 0 8px 8px 0px;
	outline: none;
}

#btnSubmit {
	border: 4px rgb(103, 58, 183) solid;
	color: #ffffff;
	background-color: #000000;
	font-family: Courier;
	font-size: 20px;
	font-weight: bold;
	padding: 2px 15px;
	border-radius: 0px;
	outline: none;
}


#btnSubmit:focus {
	border-color: #1f1d21 #48434d #48434d #1f1d21 ;
background-color:#333333;
}


.p77-93 nav {
    background-color: #1D1015;
}

.p77-93 #main {
    background-color: #1D1015;
}

.p77-93 body {
    background-color: #1D1015;
}

.p77-93 #container {
    background-color: #54131A;
}

.p77-93 #slide {
    background-color: #791D21;
}

.p77-93 #info > span > .spoiler {
    background-color: #54131A;
}

.p77-93 #txtSubmit {
    border: 4px rgb(255, 0, 0) solid;
}

.p77-93 #btnSubmit {
    background-color: #791D21;
    border-color: #833131 #54131A #54131A #833131;
}
.p77-93 #info > span > .spoiler > div:first-child > input, #latestpages > span > .spoiler > div:first-child > input[type="button"] {
    background-color: #791D21;
}